@import "../../styles/helpers";

.root {
  height: 100%;
  position: relative;
  left: 0;
}

.wrap {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;

  @media print {
    margin: 0;
  }

  @media (max-width: breakpoint-max(sm)) {
    margin-left: 0;
    left: 0;
  }

  :global(.sidebar-hide) & {
    margin: 0;
  }
}

.content {
  position: relative;
  flex-grow: 1;
  background-color: $body-bg;
  padding: 20px;
}

//.content {
//  position: relative;
//  flex-grow: 1;
//  padding: $content-padding $content-padding ($content-padding + 20px);
//  // add new padding after testing
//  background: $body-bg;
//}
//

